@import url('https://fonts.googleapis.com/css?family=Aldrich');
*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aldrich';font-size: 22px;
}

h3{
    color: #182835;
}

section{
    position: relative;
    width: 100%;
    height:  13em;
    overflow: hidden;
    background: #000200;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    color: transparent;
    font-size: 5em;
    -webkit-text-stroke: 2px #fff;
    text-transform: capitalize;
    text-align: center;
}
section .star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite,
                backgroundmove 16s linear infinite;
}
section .star.star1{
    animation-delay: 0s;
    background: url(star1.png);
}
section .star.star2{
    animation-delay: -1s;
    background: url(star2.png);
}
section .star.star3{
    animation-delay: -2s;
    background: url(star3.png);
}
section .star.star4{
    animation-delay: -3s;
    background: url(star4.png);
}
section .star.star5{
    animation-delay: -4s;
    background: url(star5.png);
}
section .star.star6{
    animation-delay: -5s;
    background: url(star6.png);
}
section .star.star7{
    animation-delay: -6s;
    background: url(star7.png);
}
section .star.star8{
    animation-delay: -7s;
    background: url(star8.png);
}
@keyframes animate{
    0%,20%,40%,60%,80%,100%
    {
        opacity: 0;
    }
    10%,30%,50%,70%,90%
    {
        opacity: 1;
    }
}
@keyframes backgroundmove{
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(2);
    }
}
p {
    text-align: center;
    background-color: #000200;
    color: #fff;
}
.page-wrapper {
    width: 100%;
    height: auto;
}
  
.nav-wrapper {
    width: 100%;
    position: webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}
  
.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg,#3623ff, #6829e5, #992fcc, #cb36b2, #fd3c98);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
    
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
}
  
.navbar img {
    height: 50px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
}
  
.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns:  20% 20% 20% 20%;
    justify-self: normal;
    
}
  
.nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
}
  
.nav-item a:hover {
    color: #4d59f1;
}

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.parallax {
    position:relative;
    z-index:1;
    height:450px;
    -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
}
  
#trans1 {
    background: url('Plan.png') no-repeat fixed;
    height:575px;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#trans2 {
    background: url('cost.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  

.txt.right {
    margin: 150px 100px 0 0;
    float:right;
    text-align:right;
}
.txt.left {
    float:left;
    text-align:left;
    margin: 150px 0 0 100px;
}
  
.txt.sub {
    font-size:50px;
    line-height:175%;
    font-weight:lighter;
    letter-spacing:1.5px;
    background:#000;
    background:rgba(0,0,0,0.60);
    font-size:25px;
    color:#ccc;
    margin: 0 100px 0 100px;
}
.content {
    box-sizing:border-box;-moz-box-sizing:border-box;
    position:relative;
    z-index:2;
    background:#FFF;
    width:100%;
  
    margin:0;
    padding:10px 20px;
    -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
    text-align:left;
}
  
.content.right {
    text-align:right;
}
  

.footer {
    background-color: #ffffff;
    text-align: center;

}
   
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #1d51fa;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
